//
//  Config.xcconfig
//  Tempestia
//
//  Created by Thaowpsta Saiid on 15/06/2026.
//

// Configuration settings file format documentation can be found at:
// https://developer.apple.com/documentation/xcode/adding-a-build-configuration-file-to-your-project

WEATHER_API_KEY = 001426d9ae9146c183992217261306
